@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .cards {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    }
    .card {
    margin: 10px;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome to Pizza website</h1>
</div>

<div class="cards">
    <div class="card" style="width: 18rem;">
      <img src="https://www.dissapore.com/wp-content/uploads/2020/04/Pizza-Napoletana-Metodo-Margherita-dallalto-scaled.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pizza recipes</h5>
        <p class="card-text">Delicious pizza recipes for all taste preferences.</p>
        <a href="/Pizzas/Index" class="btn btn-primary">Go to recipes</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://pizzeriaortica.com/wp-content/uploads/2021/10/Caputo-00-Flour-Everything-You-Need-To-Know.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flours</h5>
        <p class="card-text">Explore a wide range of quality flours for your baking needs.</p>
        <a href="/Flours/Index" class="btn btn-primary">Go to flours</a>
      </div>
    </div>
</div>